/*
|-------------------------------------------------------------------------------
| #Notify
|-------------------------------------------------------------------------------
|
|
*/

/* Block
---------------------------------*/
.Notify {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0);
  z-index: $notify-zIndex;
  overflow: hidden;
}


/* Elements
---------------------------------*/
.Notify__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 12px auto;
  &[class^="sicon-"] {
    background-color: #fff;
  }
}

.Notify__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80px;
  min-height: 60px;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.75);
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

.Notify__text {

}
