/*
|-------------------------------------------------------------------------------
| #Grid
|-------------------------------------------------------------------------------
|
|
*/
.l-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: - ($grid-gutter-width / 2);
  margin-right: - ($grid-gutter-width / 2);

  &.is-start {
    justify-content: flex-start;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-end {
    justify-content: flex-end;
  }
  &.is-top {
    align-items: flex-start;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-around {
    justify-content: space-around;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-reverse {
    flex-direction: row-reverse;
  }
  &.is-col {
    flex-direction: column;
  }
  &.is-reverse {
    flex-direction: column-reverse;
  }
}

@include make-grid();
