/*
|-------------------------------------------------------------------------------
| #Level
|-------------------------------------------------------------------------------
|
|
*/
.l-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.is-top {
    align-items: flex-start; 
  }
  &.is-bottom {
    align-items: flex-end;
  }
  > .l-level__item {
    flex: 1;
    text-align: center;
  }

}

.l-level__left {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &.is-top {
    align-items: flex-start; 
  }
  &.is-bottom {
    align-items: flex-end;
  }
  + .l-level__right {
    padding-left: $spacer-x-base;
  }

}

.l-level__right {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.is-top {
    align-items: flex-start; 
  }
  &.is-bottom {
    align-items: flex-end;
  }
  + .l-level__left {
    padding-right: $spacer-x-base;
  }
}

.l-level__left,
.l-level__right {
  &.is-expaned {
    flex: 1;
    min-width: 0;
    .l-level__item.is-expaned {
      @include oneline;
    }
  }
  .l-level__item {
    &:nth-child(n+2) {
      margin-left: $spacer-x-base;
    }
  }
}

.l-level__item {
  white-space: nowrap;
}
