{% extends 'master.nunjucks' %}
{% block title %}评论 · Sparrow{% endblock %}
{% block content %}
<div class="TabBar">
    <div class="TabBar__inner">
        <div class="Nav">
            <a href="index.html" class="Nav__item">返回</a>
            <!-- END .Nav__item -->
        </div>
        <!-- END .Nav -->
    </div>
</div>
<!-- .TabBar -->
<main class="l-main">
	<div class="l-main__inner">
		<ul class="Comment-list">
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=A" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">墨鱼</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">1小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						我听这首歌的时候，每次都能看到：吊死在煤山上的崇祯；天安门上挥手的毛泽东，下面是疯狂的红卫兵；带着无数荣誉离开巴萨的瓜迪奥拉，诺坎普全场唱出这首他最爱的歌，挥手告别的背影。
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=B" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">猥笑的羊</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">2小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						歌词翻译逼格太高，众屌丝经过洗礼瞬间也感觉自己逼格高了不止一个level。
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=C" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">风生水起王爱妃</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">3小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						哥听到了耶路撒冷和尚在念经 罗马骑兵文工团在呻吟 你们是哥的照妖镜，你们是哥的折戟龙鳞 哥远去的勇士们啊 是因为不能说的秘密 自从你们离去 再也没有人对哥真心 这就是当年，哥当扛霸子的事情
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=D" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">无暇子</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">3小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						自由引导人民，抛去法国大革命的争论不谈，路易十六和玛丽只是普通的人，他们本身既不邪恶也不圣明，当他们在惊恐中醒来，在断头台前最后想的除了悔恨和无奈，我想哪怕只是一念之间也会闪过：愿生生世世不再生于帝王家
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=F" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">放肆了啊</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">4小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						自从给我们家狗狗听完vlv，它在后街打架再也没输过，鼎盛时期，后面跟随它的大小狗狗不计其数。现在它老了，在夜深时间，它会独自爬上楼顶，哼唱着这首歌“I used to rule the world 大千世界曾由我主宰”
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=G" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">思凡的大小说家</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">6小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						这翻译的歌词最早我12年在豆瓣上看到的，翻译哥翻了n多西方词典，这不仅仅是译者牛逼，写词的那位也超叼，歌词太多古英语，大家还真别小看这首歌，中世纪史卷！！
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
			<li class="Comment">
				<div class="Comment__left">
					<img data-src="holder.js/36x36?bg=ccc&text=E" class="Comment__avatar">
				</div>
				<!-- END .Comment__left -->
				<div class="Comment__body">
					<div class="Comment__header">
						<div class="l-level">
							<div class="l-level__left">
								<div class="Comment__title">玄水之上</div>
							</div>
							<!-- END .l-level__left -->
							<div class="l-level__right">
								<div class="Comment__meta">12小时前</div>
							</div>
							<!-- END .l-level__right -->
						</div>
						<!-- END .l-level -->
					</div>
					<!-- END .Comment__header -->
					<div class="Comment__content">
						想起来两千多年前，秦帝国的丞相李斯被腰斩前回头对他的一个儿子说的：“吾欲与若复牵黄犬俱出上蔡东门逐狡兔，岂可得乎！”想起南北朝刘宋最后一个11岁的小皇帝刘準在被刀剑逼迫逼退位的时候哭着说：“愿生生世世，再不生帝王家。”想起崇祯皇帝对长平公主所叹：“汝何故生我家！”
					</div>
					<!-- END .Comment__content -->
				</div>
				<!-- END .Comment__body -->
			</li>
			<!-- END .Comment -->
		</ul>
		<!-- END .Comment-list -->
	</div>
	<!-- END .l-main__inner -->
</main>
<!-- END .l-main -->
{% endblock %}
