si{% extends 'master.nunjucks' %}
{% block title %}图标 · Sparrow{% endblock %}
{% block content %}
<div class="TabBar">
    <div class="TabBar__inner">
        <div class="Nav">
            <a href="index.html" class="Nav__item">返回</a>
            <!-- END .Nav__item -->
        </div>
        <!-- END .Nav -->
    </div>
</div>
<!-- .TabBar -->
<main class="l-main">
	<div class="l-main__inner">
        <div class="l-content l-group u-pt30">
			<div class="l-level">
				<div class="l-level__item">
					<i class="sicon-check"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-danger"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-warning"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-help"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-infinite"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-clock"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-refresh"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-remove"></i>
				</div>
				<div class="l-level__item">
					<i class="sicon-spinner"></i>
				</div>
			</div>
    	</div>
    	<!-- END .l-content -->
	</div>
	<!-- END .l-main__inner -->
</main>
<!-- END .l-main -->
{% endblock %}
