{% extends 'master.nunjucks' %}
{% block title %}操作信息 · Sparrow{% endblock %}
{% block content %}
<div class="TabBar">
    <div class="TabBar__inner">
        <div class="Nav">
            <a href="index.html" class="Nav__item">返回</a>
            <!-- END .Nav__item -->
        </div>
        <!-- END .Nav -->
    </div>
</div>
<!-- .TabBar -->
<main class="l-main">
	<div class="l-main__inner">
        <div class="l-content">
            <div class="Message">
            	<div class="Message__media">
            		<i class="Message__icon sicon-check u-bg-success"></i>
            	</div>
    			<!-- END .Message__media -->
				<h1 class="Message__title">操作成功</h1>
				<div class="Message__content">
					如需转载此文，请注明原作者及此文链接地址！
				</div>
				<a role="button" class="btn btn--success btn--lg btn--block u-mb15">确认</a>
				<a role="button" class="btn btn--outline btn--lg btn--block">返回</a>
            </div>
    		<!-- END .Message -->
        </div>
        <!-- END .l-content -->
	</div>
	<!-- END .l-main__inner -->
</main>
<!-- END .l-main -->
{% endblock %}
