{% extends 'master.nunjucks' %}
{% block title %}导航菜单 · Sparrow{% endblock %}
{% block content %}
<div class="TabBar">
    <div class="TabBar__inner">
        <div class="Nav">
            <a href="index.html" class="Nav__item">返回</a>
            <!-- END .Nav__item -->
        </div>
        <!-- END .Nav -->
    </div>
</div>
<!-- END .TabBar -->
<main class="l-main">
    <div class="l-main__inner">
        <nav class="NavBar u-mb30">
            <ul class="Nav Nav--segmented">
                <li class="Nav__item">
                    <a role="button" class="Nav__link">今日推荐</a>
                </li>
                <li class="Nav__item">
                    <a role="button" class="Nav__link is-active">一周热门</a>
                </li>
                <li class="Nav__item">
                    <a role="button" class="Nav__link">月排行榜</a>
                </li>
                <li class="Nav__item">
                    <a role="button" class="Nav__link">年度精品</a>
                </li>
            </ul>
        </nav>
        <nav class="NavBar u-mb30">
            <ul class="Nav Nav--tabs">
                <li class="Nav__item">
                    <a role="button" class="Nav__link is-active">概要</a>
                </li>
                <li class="Nav__item">
                    <a role="button" class="Nav__link">参数</a>
                </li>
                <li class="Nav__item">
                    <a role="button" class="Nav__link">评论</a>
                </li>
            </ul>
        </nav>
        <div class="TabBar is-relative u-mb30">
            <div class="TabBar__inner">
                <ul class="Nav">
                    <li class="Nav__item">
                        <a role="button" class="Nav__link is-active">游戏</a>
                    </li>
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">购物车</a>
                    </li>
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">消息</a>
                    </li>
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">我的</a>
                    </li>
                </ul>
                <!-- END .Nav -->
            </div>
        </div>
        <!-- .TabBar -->
        <div class="TabBar is-relative u-mb30">
            <div class="TabBar__inner">
                <ul class="Nav">
                    <li class="Nav__item">
                        <a role="button" class="Nav__link is-active">
                            <div class="Nav__icon">
                                <i class="sicon-refresh u-bg-grey"></i>
                            </div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">
                            <div class="Nav__icon">
                                <i class="sicon-help u-bg-grey"></i>
                            </div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">
                            <div class="Nav__icon">
                                <i class="sicon-infinite u-bg-grey"></i>
                            </div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">
                            <div class="Nav__icon">
                                <i class="sicon-clock u-bg-grey"></i>
                            </div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                </ul>
                <!-- END .Nav -->
            </div>
        </div>
        <!-- .TabBar -->
        <div class="TabBar is-relative u-mb30">
            <div class="TabBar__inner">
                <ul class="Nav Nav--small">
                    <li class="Nav__item">
                        <a role="button" class="Nav__link is-active">
                            <div class="Nav__icon">
                                <i class="sicon-refresh u-bg-primary"></i>
                            </div>
                            <div class="Nav__label">收藏(123)</div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">
                            <div class="Nav__icon">
                                <i class="sicon-clock u-bg-grey"></i>
                            </div>
                            <div class="Nav__label">评论(13)</div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                    <li class="Nav__item">
                        <a role="button" class="Nav__link">
                            <div class="Nav__icon">
                                <i class="sicon-infinite u-bg-grey"></i>
                            </div>
                            <div class="Nav__label">分享</div>
                        </a>
                    </li>
                    <!-- END .Nav__item -->
                </ul>
                <!-- END .Nav -->
                <a role="button" class="btn btn--primary u-mlr15">立即购买</a>
            </div>
        </div>
        <!-- .TabBar -->
    </div>
    <!-- END .l-main__inner -->
</main>
<!-- END .l-main -->
{% endblock %}
