/*
|-------------------------------------------------------------------------------
| #Figures
|-------------------------------------------------------------------------------
|
|
*/

.img-responsive {
  max-width: 100%;
  height: auto;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.avatar--sm {
  width: 32px;
  height: 32px;
}

.avatar--xs {
  width: 24px;
  height: 24px;
}

