$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;

// Components
// -----------------------------------------------------------------------------

$hairline-zIndex:                             $zIndex-2;

$nav-zIndex:                                  $zIndex-5;

$navBar-zIndex:                               $zIndex-6;

$tabBar-zIndex:                               $zIndex-7;

$modal-zIndex:                                $zIndex-9;

$notify-zIndex:                               $zIndex-10;
